@import-normalize;

:root {
  --text: #f6bf94;
  --card: #2f2f2fb4;
  --orange: #ee7171;
  --bg: linear-gradient(111.4deg, #ee7171 1%, #f6d794 58%);

  --delay: 200ms;
  --rotate-0: rotateY(0deg);
  --rotate-90: rotateY(90deg);
  --transition: all ease-in 200ms;

  --radius: 0.75rem;
  --shadow: 1px 1px 13px #03030390;

  --card-width: 150px;
  --card-width-mobile: 20vw;
  --card-enter: enter 600ms ease;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", sans-serif;

  font-size: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  overflow: auto;
  color: var(--text);
  background: var(--bg);
  align-items: flex-start;
  justify-content: center;
  font-family: var(--font-family);
  padding-top: 7rem;
}
hr {
  background: black;
  display: flex;
  margin: 1rem auto;
  border: none;
  height: 1px;
  width: 100%;
  opacity: 0.3;
  margin-bottom: 3rem;
}

/* ========= Menu ======================== */
header {
  width: 100%;
  height: 4rem;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  background: var(--card);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  animation: var(--card-enter);
  justify-content: space-evenly;
}
h3 {
  margin: auto;
  color: var(--text);
  font-size: 1.7rem;
  font-weight: 900;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
h4 {
  margin: auto;
  color: var(--orange);
  font-weight: 900;
  font-size: 1.2rem;
}
button {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 3px;
  margin: auto;
  transition: transform 0.2s ease-in-out;
  background-color: #f0d6a6;
  color: rgb(0, 0, 0);
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
}
button:hover {
  transform: scale(1.02);
  opacity: 0.8;
  cursor: pointer;
}
.new-game-icon {
  vertical-align: middle;
  margin-right: 0.1rem;
}

/* ========= Grid ========================= */
.grid {
  gap: 1.25rem;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(4, auto);
}

/* ========= Card ========================= */
.card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: var(--card-width);
  animation: var(--card-enter);
  border-radius: var(--radius);
}
.card img {
  width: 100%;
}
.card-face,
.card-back {
  padding: 1rem;
  background: var(--card);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  transition: var(--transition);
  cursor: pointer;
}
.card-face:hover,
.card-back:hover {
  transform: scale(1.09);
  opacity: 0.8;
}
.card-face {
  position: absolute;
  transform: var(--rotate-90);
}
.card-back {
  transform: var(--rotate-0);
  transition-delay: var(--delay);
}
.selected .card-face {
  transform: var(--rotate-0);
  transition-delay: var(--delay);
}
.selected .card-back {
  transform: var(--rotate-90);
  transition-delay: 0s;
}
@keyframes enter {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ========= Mobile ===================== */
@media screen and (max-width: 720px) {
  body {
    align-items: center;
    padding-top: 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  button {
    padding: 0.5rem;
  }

  header {
    left: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    border-radius: 0;
  }

  .grid {
    margin: auto auto 3rem auto;
  }

  .card {
    width: var(--card-width-mobile);
  }
}
